
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f9;
    }
    
    #container{
    background-color: #fff;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
    
    header{
    text-align: center;
    margin-bottom: 70px;
    font-size: 30px;
    font-weight: 700;
    }
    
    ul{
    list-style: none;
    padding: 0;
    }
    
    button{
    background-color: aqua;
    color: black;
    opacity: 0.8;
    transition: 0.3s;
    }
    
    .button:hover {opacity: 1}
    
    li {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 250px
    }
    
    li button:hover {
    background-color: #704545;
    }
    
    li button, #add-btn {
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px;
    }
    
    li.completed{
    color: #777;
    }
    
    input{
    border: 5px solid #413f3f;
    padding: 10px;
    width: 250px;
    }